img(src="//www4.mclcinema.com/Images/Group/G-DH-1017.jpg")
h1.uk-text.bold Hall of Korean Film
h2 Introduction
p Naming yourself as a movie die-hard fans, how you can miss a series of powerful Korean movies brought by STAR Cinema’s Hall of Korean Film – Veteran Convergence in this coming October? This year, Ajay Cinema finely picked 14 Korean films which are all directed and starred by movie veterans. With DongJu as the first premiere opening featured movie, the powerful line-up includes A Violent Prosecutor,The Throne, A Werewolf boy, Hearty Paws 2, Penny Pinchers and The Magician, etc.You just cannot miss any of these first-rated Korean movies!

h2 Programme Movie
.uk-grid.uk-width-3-4.uk-grid-collapse
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44921_2x.jpg?timestamp=20161003161702")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Your Name
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44045_2x.jpg?timestamp=20160922141140")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Doctor Strange
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_43200.jpg?timestamp=20161019121036")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Fantastic Beasts and Where to Find Them
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44222_2x.jpg?timestamp=20161025175042")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Billy Lynn's Long Halftime Walk
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44184_2x.jpg?timestamp=20161007115506")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Inferno
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="http://api.hkmovie6.com/hkmovies/images/movies/movies_44733_2x.jpg")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p The Girl on the Train
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44944_2x.jpg")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Rage
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44033_2x.jpg?timestamp=20161003164906")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Trolls
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o