.uk-panel.uk-panel-box(style="margin-bottom: 30px;")
	.uk-slidenav-position(data-uk-slideshow="{autoplay:true, autoplayInterval:3000, animation:'swipe'}")
		ul.uk-slideshow
			li
				a
					img(src="http://img.lum.dolimg.com/v1/images/rich_captainamericacivilwar_header_poststreet_30ca3632.jpeg" alt="")
			li
				a
					img(src="http://img.lum.dolimg.com/v1/images/rich_captainamericacivilwar_header_poststreet_30ca3632.jpeg" alt="")
		a.uk-slidenav.uk-slidenav-contrast.uk-slidenav-previous(data-uk-slideshow-item="previous")
		a.uk-slidenav.uk-slidenav-contrast.uk-slidenav-next(data-uk-slideshow-item="next")
		//- ul.uk-dotnav.uk-dotnav-contrast.uk-position-bottom.uk-flex-center
		//- 	li(data-uk-slideshow-item="0")
		//- 		a
		//- 	li(data-uk-slideshow-item="1")
		//- 		a
.uk-grid
	.uk-width-7-10
		.uk-panel.uk-panel-box
			h2.uk-panel-title.uk-panel-header Now Showing
			.uk-grid.uk-grid-small(data-uk-grid-margin)
				.uk-width-1-4
					a
						figure.uk-overlay.uk-overlay-hover
							img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44921_2x.jpg")
							figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
								p Your Name
									br
									span(style="color: #FFC107")
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star-half-o
										i.uk-icon-star-o
				.uk-width-1-4
					a
						figure.uk-overlay.uk-overlay-hover
							img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44045_2x.jpg")
							figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
								p Doctor Strange
									br
									span(style="color: #FFC107")
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star-half-o
										i.uk-icon-star-o
				.uk-width-1-4
					a
						figure.uk-overlay.uk-overlay-hover
							img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_43200.jpg")
							figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
								p Fantastic Beasts and Where to Find Them
									br
									span(style="color: #FFC107")
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star-half-o
										i.uk-icon-star-o
				.uk-width-1-4
					a
						figure.uk-overlay.uk-overlay-hover
							img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44222_2x.jpg")
							figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
								p Billy Lynn's Long Halftime Walk
									br
									span(style="color: #FFC107")
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star-half-o
										i.uk-icon-star-o
				.uk-width-1-4
					a
						figure.uk-overlay.uk-overlay-hover
							img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44184_2x.jpg")
							figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
								p Inferno
									br
									span(style="color: #FFC107")
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star-half-o
										i.uk-icon-star-o
				.uk-width-1-4
					a
						figure.uk-overlay.uk-overlay-hover
							img(src="http://api.hkmovie6.com/hkmovies/images/movies/movies_44733_2x.jpg")
							figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
								p The Girl on the Train
									br
									span(style="color: #FFC107")
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star-half-o
										i.uk-icon-star-o
				.uk-width-1-4
					a
						figure.uk-overlay.uk-overlay-hover
							img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44944_2x.jpg")
							figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
								p Rage
									br
									span(style="color: #FFC107")
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star-half-o
										i.uk-icon-star-o
				.uk-width-1-4
					a
						figure.uk-overlay.uk-overlay-hover
							img(src="//api.hkmovie6.com/hkmovies/images/movies/movies_44033_2x.jpg")
							figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
								p Trolls
									br
									span(style="color: #FFC107")
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star
										i.uk-icon-star-half-o
										i.uk-icon-star-o
			button.uk-button.uk-width-1-1(ic-get-from="/movies.html" ic-target="#content" style="margin-top: 10px") See More
	.uk-width-3-10
		.uk-panel.uk-panel-box
			//- h3.uk-panel-title.uk-panel-header What to Place Here?
			iframe(width="100%" src="http://www.youtube.com/embed/ViuDsy7yb8M" frameborder="0" allowfullscreen)
			br
			br
			iframe(width="100%" src="http://www.youtube.com/embed/xyjm5VQ11TQ" frameborder="0" allowfullscreen)
			br
			br
			iframe(width="100%" src="http://www.youtube.com/embed/4WjAo7STd3M" frameborder="0" allowfullscreen)
.uk-grid
	.uk-width-1-2
		.uk-panel.uk-panel-box(style="background: url('//www4.mclcinema.com/Images/IndexBottomAds/EB-4.jpg')")
			h3.uk-panel-title.uk-text-bold Promotions
			p Enhance your movie-going experience by checking out our list of current promotions.
			button.uk-button(ic-get-from="/promotions.html" ic-target="#content" style="margin-top: 10px") See More
	.uk-width-1-2
		.uk-panel.uk-panel-box(style="background: url('//www4.mclcinema.com/Images/IndexBottomAds/EB-2.jpg')")
			h3.uk-panel-title.uk-text-bold Festivals & Programs
			p Arjay Cinema is actively bringing alternative entertainment programs to the market for the enjoyment of the audiences.
			button.uk-button(ic-get-from="/festivals-and-programs.html" ic-target="#content" style="margin-top: 10px") See More