doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Cinema
    //- link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tachyons/4.5.5/tachyons.min.css")
    <!--[if lt IE 9]>
    script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
    <![endif]-->

body
  main#content.pa4.black-80(ic-get-from="/movie" ic-trigger-on="load")
  
  a(ic-get-from="/login.html" ic-target="#content") Login
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/intercooler-js/1.0.2/intercooler.min.js")