h1.uk-text.bold Promotions
h2 Cinema
.uk-grid(data-uk-grid-margin)
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-94.jpg" alt="Student Promotion 2016")
			.uk-thumbnail-caption Student Promotion 2016
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-37.jpg" alt="Senior Citizen Cardholders Offer")
			.uk-thumbnail-caption Senior Citizen Cardholders Offer

h2 Bank
.uk-grid(data-uk-grid-margin)
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-86.jpg" alt="BEA Credit Card Offer")
			.uk-thumbnail-caption BEA Credit Card Offer
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-55.jpg" alt="China Construction Bank Credit Cardholders Offer")
			.uk-thumbnail-caption China Construction Bank Credit Cardholders Offer
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-73.jpg" alt="PPS Online Ticketing Offer")
			.uk-thumbnail-caption PPS Online Ticketing Offer
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-50.jpg" alt="SCB Credit Card Bonus Point and Discount Offer")
			.uk-thumbnail-caption SCB Credit Card Bonus Point and Discount Offer

h2 Parking
.uk-grid(data-uk-grid-margin)
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-88.JPG" alt="FESTIVAL WALK 3-hour Free Parking")
			.uk-thumbnail-caption FESTIVAL WALK 3-hour Free Parking
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-43.jpg" alt="Metro City Plaza I - III Free Parking Offer")
			.uk-thumbnail-caption Metro City Plaza I - III Free Parking Offer
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-45.jpg" alt="PopCorn Free Parking Offer")
			.uk-thumbnail-caption PopCorn Free Parking Offer
	.uk-width-1-3
		a.uk-thumbnail
			img(src="//www4.mclcinema.com/Images/Promotion/P-Ic2-44.jpg" alt="Telford Plaza Free Parking Offer")
			.uk-thumbnail-caption Telford Plaza Free Parking Offer