doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Cinema
    //- link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tachyons/4.5.5/tachyons.min.css")
    <!--[if lt IE 9]>
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
    <![endif]-->

body
  .pa5
    .w5.ba.b--black-20
      input.input-reset.w-100.f6.pa3.bn.bg-light-gray.hover-white.hover-bg-black(type="text" placeholder="Search movies & categories")
      h1.ph3.f5.bold.center.mw6.mt4 Categories
      ul.list.ph0.pv3.ml0.mb0.center.mw6
        li.ph3 Action
        li.ph3 Thriller
  
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/intercooler-js/1.0.2/intercooler.min.js")