img(src="//www4.mclcinema.com/Images/Group/G-DH-1017.jpg")
h1.uk-text.bold Hall of Korean Film2
h2 Introduction
p Naming yourself as a movie die-hard fans, how you can miss a series of powerful Korean movies brought by STAR Cinema’s Hall of Korean Film – Veteran Convergence in this coming October? This year, Ajay Cinema finely picked 14 Korean films which are all directed and starred by movie veterans. With DongJu as the first premiere opening featured movie, the powerful line-up includes A Violent Prosecutor,The Throne, A Werewolf boy, Hearty Paws 2, Penny Pinchers and The Magician, etc.You just cannot miss any of these first-rated Korean movies!

h2 Programme Movie
.uk-grid.uk-grid-medium.uk-width-3-4(data-uk-grid-margin)
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="http://www4.mclcinema.com/Images/Movies/V-10247.jpg" alt="The Throne")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p The Throne
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="http://www4.mclcinema.com/Images/Movies/V-10257.jpg" alt="Like for Likes")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Like for Likes
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="http://www4.mclcinema.com/Images/Movies/V-10258.jpg" alt="The Handmaiden")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p The Handmaiden
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o
	.uk-width-1-4
		a
			figure.uk-overlay.uk-overlay-hover
				img(src="http://www4.mclcinema.com/Images/Movies/V-10259.jpg" alt="Train to Busan")
				figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-slide-bottom
					p Train to Busan
						br
						span(style="color: #FFC107")
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star
							i.uk-icon-star-half-o
							i.uk-icon-star-o