form.measure.center
  fieldset#sign_up.ba.b--transparent.ph0.mh0
    legend.f4.fw6.ph0.mh0 Sign In
    .mt3
      label.db.fw6.lh-copy.f6(for='email-address') Email
      input#email-address.pa2.input-reset.ba.w-100(type='email', name='email')
    .mv3
      label.db.fw6.lh-copy.f6(for='password') Password
      input#password.b.pa2.input-reset.ba.w-100(type='password', name='password')
    label.pa0.ma0.lh-copy.f6.pointer
      input(type='checkbox')
      |  Remember me
  div
    input.b.ph3.pv2.input-reset.ba.b--black.bg-transparent.grow.pointer.f6.dib(type='submit', value='Sign in')
  .lh-copy.mt3
    a.f6.link.dim.black.db(href='#0') Sign up
    a.f6.link.dim.black.db(href='#0') Forgot your password?
